<div class="container">
    <h2 class="red">Home!</h2>
    <!-- <p>{{fortune}}</p> -->
    <ul>
        {{#if fortune.length}}
            
        {{else}}
            <p>{{fortune}}</p>
        {{/if}}
    </ul>
</div>